<% if @model == MentoredTeam %>
  <%= render :partial => '/tree_display/page_footer_assignments', :locals => { :assignment_id => @root_node.node_object_id, :@meeting_map => @meeting_map } %><br/>
<% else %>
  <%= render :partial => '/tree_display/page_footer' %><br/>

<a id="teamsMembers" onclick="showHideTeamMembersInTeamsListPage();">Show all team members</a>
<%= render :partial => '/tree_display/page_footer' %><br/>
<% session[:return_to] = request.url %>
<% @model %>

<h2>Team List</h2> 
<div class="team-list">
<%= link_to 'Create Team', :action => 'new', :id=> @root_node.node_object_id, :model => @model %>
<% modelType = @root_node.class == AssignmentNode ? 'AssignmentTeam' : 'CourseTeam'  %>

// reformat team actions
<div class="team-actions">
 <%= link_to 'Import Teams',
              :controller=>'import_file',
              :action=>'start',
              :model => modelType,
              :title => 'Teams',
              :expected_fields =>  "Team Name <em>(optional)</em>&nbsp;&nbsp;|&nbsp;&nbsp;TeamMember1&nbsp;&nbsp;|&nbsp;&nbsp;TeamMember2&nbsp;&nbsp;|&nbsp;&nbsp;...&nbsp;&nbsp;|&nbsp;&nbsp;TeamMemberN",
              :id => @root_node.node_object_id %>
|<%= link_to 'Export Teams',
  :controller=>'export_file',
  :action=>'start',
  :model=> modelType,
  :id=>@root_node.node_object_id %>
|<%= link_to 'Delete All Teams', :action => 'delete_all', :id=> @root_node.node_object_id, :model => @model %>
|<%= link_to 'Bequeath All Teams', :action=>'bequeath_all', :id => @root_node.node_object_id, :model => @model %>
</div>

// additional functionality to include meeting dates and add the + button to add more meetings. LLM assisted in developing this coede.
 <div id="meeting-dates">
    <h3>Mentor Meeting Dates</h3>
    <div id="meeting-date-list">
    <% @teams.each do |team| %>
    <div class="team-container <%= team.capacity < 50 ? 'under-capacity' : '' %>">
    <h3><%= team.name %></h3>
    <p>Mentor: <%= team.mentor.name %></p>
    <p>Members: <%= team.members.map(&:name).join(', ') %></p>
    
    <div class="meeting-dates">
      <h4>Meeting Dates</h4>
      <% team.meeting_dates.each do |date| %>
        <div class="meeting-date">
          <input type="date" name="meeting_dates[<%= team.id %>][]" value="<%= date %>" 
                 <%= 'disabled' if team.capacity < 50 %> />
          <% if current_user.instructor? %>
            <button type="button" onclick="removeMeetingDate(this)">Remove</button>
          <% end %>
        </div>
      <% end %>
      <button type="button" onclick="addMeetingDate(<%= team.id %>)"> + Add Meeting </button>
    </div>
  </div>
<% end %>

<div class="user-info">
  <h4>Current User: <%= current_user.name %> (<%= current_user.role %>)</h4>
</div>

<button type="submit">Save Changes</button>

<script>
  function addMeetingDate(teamId) {
    const meetingDateList = document.querySelector(`.team-container[data-team-id="${teamId}"] .meeting-dates`);
    const newMeetingDate = document.createElement('div');
    newMeetingDate.classList.add('meeting-date');
    newMeetingDate.innerHTML = `<input type="date" name="meeting_dates[${teamId}][]" />
                                <button type="button" onclick="removeMeetingDate(this)">Remove</button>`;
    meetingDateList.appendChild(newMeetingDate);
  }

  function removeMeetingDate(button) {
    button.parentElement.remove();
  }
</script>
